* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(192, 99, 99);
}

#enviar {
    background-color: blue;
    box-shadow: 2px 2px 5px rgba(66, 51, 51, 0.3);
    border-radius: 20px;
    color: yellowgreen;
    font-family: 'Playfair Display';
    font-size: 3vw;
    margin-left: 5px;
    margin-right: 5px;
    transition: transform 0.1s ease;
    width: 65%;
}

#enviar:active {
    transform: scale(0.95);
}

#enviar:hover {
    background-color: #0056b3;
}

section {
    width: 100%;
}
table {
    font-size: 1.5vw;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

th {
    font-size: 2.5vw;
    padding: 10px 20px;
}

td {
    padding: 10px 20px;
}

header>h1 {
    background-image: linear-gradient(to right, red, orange,  rgb(250, 183, 59));
    color: rgb(116, 86, 80);
    font-family: 'Playfair Display';
    font-size: 4vw;
    height: auto;
    padding: 20px;
    text-align: center;
    width: 100%;
}

section>h1 {
    color: rgb(116, 86, 80);
    font-family: 'Playfair Display';
    font-size: 3vw;
    margin: 20px 20px;
    padding: 10px 20px;
    text-align: center;
}

