* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(192, 99, 99);
}

header {
    background-image: linear-gradient(to right, red, yellow, red);
    font-family: 'Playfair Display';
    font-size: 6vw;
    height: auto;
    text-align: center;
    width: 100%;
}

main {
    font-family: 'Merriweather';
    font-size: 2vw;
    text-align: center;
}